
{% extends '_layout.html' %}

{% block title %} {{ title }} {% endblock %}

  {% block stylesheet %}
     .sec-box{
     <!-- width:400px; --><!-- dont uncomment this code - line -->
     height:160px;
     max-width:100%;
     line-height:160px;
     text-align:center;
     position:relative;
     
     font-size:1.9rem;

    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    transition: all 400ms ease-in;

    font-variant: petite-caps;
 }

.sec-box a{
 color:#fff;
 text-decoration:none;
	
}


 .employee-box{
 	background:#41b6d6;
}


 .leave-box{
 	background:#fff;

}

.leave-box a{
	color:#3ea7c7 !important;
}


 .birthday-box{
 	background:#8664ad;
}

.company-box{
	background:#868686;
}


.count-object {
    position: absolute;
    top: 40%;
    right: 12px;
    font-size: 29px;
    font-weight: 100;
    font-variant: petite-caps;
    color: #f5f5f5;
    text-shadow:1px 1px rgba(8, 8, 8, 0.23);
}


     
  {% endblock %}

  

 <!--CONTENTS-->
 {% block content %}
        <section class="content">
            <section class="container-fluid">
            	<section class="row">
            		{% if request.user.is_superuser and request.user.is_staff %}
            		<section class="col col-lg-4">
            			<div class="employee-box sec-box">
            				<a href="">
            				<span>Employees </span>
            				</a>
            				<span class="count-object">{{ employees.count }}</span> 
            			</div>
            		</section>
            		<section class="col col-lg-4">
            			<div class="leave-box sec-box">
            				<a href="">
            				<span>Leaves</span>
            				</a>
                            <span class="count-object" style="color:#41b6d6;">{{ leaves.count }}</span> 
            			</div>
            		</section>
            		<section class="col col-lg-4">
            			<div class="birthday-box sec-box">
            				<a href="">
            				<span>Birthdays</span>
            				</a>
                            <span class="count-object"> {{employees_birthday.count}} </span>
            			</div>
            		</section>
            		{% else %}
                    <section class="col col-lg-6">
                        <div class="leave-box sec-box">
                            <a href="">
                            <span>Leaves</span>
                            </a>
                            <span class="count-object" style="color:#41b6d6;">{{ staff_leaves.count }}</span> 
                        </div>
                    </section>
                    <section class="col col-lg-6">
                        <div class="birthday-box sec-box">
                            <a href="">
                            <span>Birthdays</span>
                            </a>
                            <span class="count-object"> {{employees_birthday.count}} </span>
                        </div>
                    </section>
                    {% endif %}

            	</section>

                


            </section> <!-- /container -->           
        </section>
 {% endblock %}


{% block extrajs%}
    
    

    $(document).ready(function(){
          var get_login_user = '{{request.user.username}}'
          
          console.log(get_login_user);

          demo.initChartist();

          $.notify({
              icon: 'fa fa-user',
              message: "Welcome to Rabotec HRM suite,"+get_login_user

            },{
                type: 'info',
                timer: 4000
            });

      });

{% endblock %}