
{% extends '_layout.html' %}
{% block title %} {{ title }} {% endblock %}


 {% block navheader %}
 	{% include 'includes/navheader_employee_app.html' %}
 {% endblock %}
        <!--CONTENTS-->
 {% block content %}
        <section class="content">

            <section class="container-fluid">
            		<section class="row">
            			<section class="col col-lg-12 text-center">
            				<h3 class="title-h3">List of Deleted Users</h3>
            			</section>
            		</section>
                	<!-- TABLE -->
                		<table class="table table-striped">
							  <thead>
							    <tr>
							      <th scope="col">Username</th>
							      <th scope="col">Employee (fullname) </th>
							      <th scope="col">Department</th>
							      <td scope="col">Action</td>
							    </tr>
							  </thead>

							  <tbody>
							  	{% for emp in employees %}
							  	<tr>
								      <td>{{emp.user.username}}</td>
								      <td>{{ emp.get_full_name }}</td>
								      <td>{{ emp.department }}</td>
								      <td>unblock</td>
							    </tr>
							   {% endfor %}
							  </tbody>
						</table>
                	<!-- /TABLE -->

            </section> <!-- /container --> 


        </section>
 {% endblock %}

<script type="text/javascript">
{% block extrajs%}
/*create-user-button - handler*/

// $(document).ready(function(){

// var createuser = $('.create-user-model');
// createuser.on('click',function(){
// alert("who clicked me ?")

// });


// });

{% endblock %}
</script>